$logoColor: #0f66a9;
$logoFontSize: 1em;
$logoFontSizeSmall: .4em;

$background-header-color: #a5b0c2;
$header-text-color: #ffffff;
$box-shadow-color: 0px 5px 5px #333333;
$min-height: 792px;

$nav-hover-background-color: #0f66a9;
$header-link-line-height: 82.778px;

